/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/* key assignments
  0  1  2  3  4       5  6  7  8  9
  10 11 12 13 14      15 16 17 18 19
  20 21 22 23 24      25 26 27 28 29
            30 31     32 33
*/

#define ALPHA 0
#define NAV 1
#define NUM 2
#define SYM 3
#define FUN 4
#define GAME 5
#define GAME2 6

&sk {
    ignore-modifiers; //allows for calum-style modifers 
};
 


/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <20>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_cpy {
            timeout-ms = <20>;
            key-positions = <21 22>;
            bindings = <&kp LC(C)>;
        };
        combo_pst {
            timeout-ms = <20>;
            key-positions = <22 23>;
            bindings = <&kp LC(V)>;
        };
        combo_cut {
            timeout-ms = <20>;
            key-positions = <21 23>;
            bindings = <&kp LC(X)>;
        };
        combo_undo {
            timeout-ms = <20>;
            key-positions = <20 21>;
            bindings = <&kp LC(Z)>;
        };
        combo_redo {
            timeout-ms = <20>;
            key-positions = <10 20>;
            bindings = <&kp LS(LC(Z))>;
        };
        combo_find {
            timeout-ms = <20>;
            key-positions = <13 14>;
            bindings = <&kp LC(F)>;
        };
         combo_tab {
            timeout-ms = <20>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };
        
        combo_backword {
            timeout-ms = <20>;
            key-positions = <7 8>;
            bindings = <&kp RC(BKSP)>;
        };
        
        combo_delword {
            timeout-ms = <20>;
            key-positions = <6 7>;
            bindings = <&kp RC(DEL)>;
        };
        
        combo_bsp {
            timeout-ms = <20>;
            key-positions = <17 18>;
            bindings = <&kp BSPC>;
        };
          
       combo_ent {
            timeout-ms = <20>;
            key-positions = <16 17>;
            bindings = <&kp ENTER>;
        };
        
        combo_semicolon {
            timeout-ms = <20>;
            key-positions = <26 27>;
            bindings = <&kp SEMI>;
        };
          
        combo_fortab {
            timeout-ms = <20>;
            key-positions = <2 3>;
            bindings = <&kp RC(TAB)>;
        };
          
        combo_bactab {
            timeout-ms = <20>;
            key-positions = <1 2>;
            bindings = <&kp LS(LC(TAB))>;
        };
        
        combo_excl {
             timeout-ms = <20>;
            key-positions = <27 28>;
            bindings = <&kp EXCL>;
        };

        combo_game {
             timeout-ms = <20>;
            key-positions = <19 29>;
            bindings = <&tog GAME>;
        };
        
        combo_capword {
             timeout-ms = <20>;
            key-positions = <14 15>;
            bindings = <&caps_word>;
        };
    };
        
        //this gives quick relese to any sticky key if it's labled &skq 
        behaviors {
      skq: sticky_key_quick_release {
        compatible = "zmk,behavior-sticky-key";
        label = "STICKY_KEY_QUICK_RELEASE";
        #binding-cells = <1>;
        bindings = <&kp>;
        release-after-ms = <1000>;
        quick-release;
        };
    };
    

        keymap {
                compatible = "zmk,keymap";
                
       		alpha_layer {
		bindings = <
		&kp Q &kp W &kp F &kp P &kp B 						&kp J &kp L &kp U &kp Y &kp APOS 
		&kp A &kp R &kp S &kp T &kp G 			        	&kp M &kp N &kp E &kp I &kp O
		&kp Z &kp X &kp C &kp D &kp V				        &kp K &kp H &kp COMMA &kp DOT &kp SLASH
          				&sl NUM &skq LSHFT                   &mt LS(LC(LALT)) SPC &sl NAV
		>;
		};

       		nav_layer {
		bindings = <
        &kp TAB   &kp HOME  &kp UP    &kp END    &kp PGUP           &kp LW(N1) &kp LW(N2) &kp LW(N3) &kp LW(N4) &kp BSPC 
        &kp ESC   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PGDN           &kp LW(N5) &sk RSHFT  &sk RCTRL  &sk RALT   &sk RGUI   
        &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V)  &kp LC(F)          &kp LW(N6) &kp LW(N7) &kp LW(N8)  &kp LW(N9) &kp RET
                                        &sl SYM  &trans               &trans &trans
        >;
		};
		
		    num_layer {
		bindings = <
		&kp TAB   &kp SLASH &kp ASTRK  &kp MINUS  &kp PLUS    		&kp MINUS  &kp N7 &kp N8 &kp N9 &kp BSPC 
		&sk LGUI  &sk LALT  &sk LCTRL  &sk LSHFT  &kp EQUAL 		&kp DOT    &kp N4 &kp N5 &kp N6 &kp DEL
		&kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V)  &kp LC(F)   		&kp COMMA  &kp N1 &kp N2 &kp N3 &kp RET
					                        &trans &trans           &kp N0  &sl SYM
		>;
		};	
		
		    sym_layer {
		bindings = <
		&kp TAB  &kp BSLH &kp GRAVE &kp UNDER &kp TILDE    		&kp MINUS &kp AMPS &kp ASTRK &kp SEMI  &kp BSPC 
		&sk ESC  &kp LBKT &kp LBRC  &kp LPAR  &kp LT 	        &kp PLUS  &kp DLLR &kp PRCNT &kp CARET &kp DEL
		&to 4    &kp RBKT &kp RBRC  &kp RPAR  &kp GT   		    &kp PIPE  &kp EXCL &kp AT    &kp HASH  &kp RET
					                        &to ALPHA  &to ALPHA       &to ALPHA &to ALPHA 
		>;
		};	

            fun_layer {
		bindings = <
		&reset      &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE &bt BT_SEL 0 		&kp F12 &kp F7  &kp F8 &kp F9  &reset
		&sk LGUI    &sk LALT     &sk LCTRL    &sk LSHFT  &bt BT_SEL 1       &kp F11 &kp F4  &kp F5 &kp F6 &none 
		&bootloader &bt BT_CLR   &bt BT_NXT   &bt BT_PRV &bt BT_SEL 2  		&kp F10 &kp F1  &kp F2 &kp F3 &bootloader  
					                    &to ALPHA &to ALPHA             &to ALPHA &to ALPHA
		>;
		};
        
            game_layer {
		bindings = <
		&kp TAB   &kp Q &kp X &kp E &kp R 						&kp T &kp Y &kp I &kp O &kp P 
		&kp LSHFT &kp A &kp W &kp D &kp F 			        	&kp H &kp J &kp K &kp L &kp RET
		&kp LCTRL &kp Z &kp S &kp C &kp V				        &kp B &kp N &kp M &kp DOT &kp SLASH
          				&lt GAME2 G &kp SPACE                   &kp SPC &kp ESC
		>;
		};

            game2_layer {
		bindings = <
		&kp N0 &kp N9 &kp N8 &kp N7 &kp N6 						&kp F6 &kp F7 &kp F8 &kp F9 &kp F10 
		&kp N4 &kp N3 &kp N2 &kp N1 &kp N5 			        	&kp F11 &kp F12 &kp E &kp I &kp O
		&kp F4 &kp F3 &kp F2 &kp F1 &kp F5				        &kp LALT &kp H &kp COMMA &kp DOT &kp SLASH
          				&trans &kp SPACE                        &kp SPC &kp ESC
		>;
		};	
	};
};